/* Base Css */
@import url('https://fonts.googleapis.com/css?family=Khula:300,400,600,700,800');
.alignleft{
    float:left;
    margin-right: 15px;
}
.alignright{
    float:right;
    margin-left:15px;
}
.aligncenter{
    display:block;
    margin:0 auto 15px;
}
a:focus, textarea:focus, button:focus, { outline: 0 solid}
img{
    max-width: 100%;
    height:auto;    
}
h1,
h2,
h3,
h4,
h5,
h6,{
    margin:0 0 15px;
    font-weight: 400;
    color:#373737;
}
body{
    font-family='khula','sans-serif';font-size: 15px;color:#999;
}
a:hover{text-decoration: none}



.mainmenu ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.mainmenu li {
  position: relative;
  display: inline-block;
}
.mainmenu li a {
  display: block;
  padding: 13px 15px;
  color:  #999;
}
.boxed-btn, input[type="submit"], button[type=submit] {
  display: inline-block;
  padding: 13px 19px;
  background: #EF476F;
  color: #fff;
  border-radius: 2px;
  border: none;
}
.hero-area {
  font-weight: 300;
  padding: 150px 0px;
  border-bottom: 1px solid #f7f7f7;
}
.hero-area h1 {
  font-size: 40px;
  max-width: 430px;
  margin-bottom: 20px;
  margin-top: 25px;
}
input[type="text"], input[type="tel"], input[type="password"], input[type="email"],input[type=url],textarea {
  border: 1px solid #F0F0F0;
  padding: 10px 15px;
}
input[type="submit"], button[type="submit"] {
  padding: 11px 25px;
  font-weight: 400;
}
.website-checker-form {
  margin-top: 30px;
}
.header-area {
  padding: 20px 0;
}